.DS_Store
.env

/dev_tools/runtime/deno/deno.json
/dev_tools/runtime/imports.json
/dev_tools/runtime/targets.json
/dev_tools/runtime/bun/generated.tsconfig.json
/dev_tools/resolution/bun/generated.tsconfig.json

/tools/*
!/tools/.gitkeep

/web/*
!/web/.gitkeep

node_modules/

sdk/dart/.dart_tool/
sdk/dart/pubspec.lock

__pycache__/
