.DS_Store
.env

/tools/*
!/tools/install.sh
!/tools/.gitkeep

/postgres/
/storage/
/opensearch/

host/.coverage/

node_modules/
web/developers_docs/tsconfig.tsbuildinfo

sdk/dart/.dart_tool/
sdk/dart/pubspec.lock

__pycache__/
host/pkg/packages/audience/e2e_tests/.generated/
host/pkg/packages/dynamic_links/e2e_tests/.generated/
host/pkg/packages/foundation/e2e_tests/.generated/
host/pkg/packages/realtime/e2e_tests/.generated/
host/pkg/packages/remote_configs/e2e_tests/.generated/
host/pkg/packages/search/e2e_tests/.generated/
host/pkg/packages/storage/e2e_tests/.generated/
host/pkg/packages/audience/e2e_tests/.postgres/
host/pkg/packages/dynamic_links/e2e_tests/.postgres/
host/pkg/packages/foundation/e2e_tests/.postgres/
host/pkg/packages/realtime/e2e_tests/.postgres/
host/pkg/packages/remote_configs/e2e_tests/.postgres/
host/pkg/packages/search/e2e_tests/.postgres/
host/pkg/packages/storage/e2e_tests/.postgres/
