{
    acme_ca https://acme.zerossl.com/v2/DV90
    email {$ACME_EMAIL}
}

(ip_vpn) {
    remote_ip 10.8.0.0/24 172.28.0.0/16
}

(compression) {
    encode zstd gzip
}

(security_headers) {
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
        X-Frame-Options "{args[0]}"
        -Server
    }
}

{$API_DOMAIN:http://api.invalid} {
    log {
        output stderr
        format json
        level ERROR
    }
    import security_headers DENY
    import compression

    @public_assets {
        path /assets/*
    }
    handle @public_assets {
        root * /srv/public-assets
        uri strip_prefix /assets
        file_server
    }
    @short_links {
        path /l/*
    }
    handle @short_links {
        uri strip_prefix /l
        rewrite * /functions/v1/hosting/link{uri}
        reverse_proxy kong:8000 {
            header_up X-Real-IP {remote_host}
        }
    }

    @app_api {
        path /v1/app/* /realtime/v1/* /functions/v1/hosting/* /storage/v1/object/public/*
    }
    handle @app_api {
        header -WWW-Authenticate
        reverse_proxy kong:8000 {
            header_up X-Real-IP {remote_host}
        }
    }

    @admin_api {
        import ip_vpn
        not path /storage/v1/object/public/*
        path /v1/admin/* /storage/v1/*
    }
    handle @admin_api {
        reverse_proxy kong:8000 {
            header_up X-Real-IP {remote_host}
        }
    }

    @vpn_intra_vpn {
        import ip_vpn
        path /vpn*
    }
    handle @vpn_intra_vpn {
        forward_auth http://api:3000 {
            uri /auth/intra
            header_up X-Real-IP {remote_host}
            header_up X-Required-Permission vpn
        }
        uri strip_prefix /vpn
        reverse_proxy host.docker.internal:51821
    }

    @vpn_supabase_cloud_stubs {
        import ip_vpn
        path \
            /supabase/api/platform/notifications \
            /supabase/api/platform/cli-release-version \
            /supabase/api/platform/get-deployment-commit \
            /supabase/api/platform/enabled-features-overrides \
            /api/platform/notifications \
            /api/platform/cli-release-version \
            /api/platform/get-deployment-commit \
            /api/platform/enabled-features-overrides
    }
    handle @vpn_supabase_cloud_stubs {
        header Content-Type "application/json"
        respond `[]` 200
    }

    @vpn_supabase_bare_api {
        import ip_vpn
        path /api/platform/*
    }
    handle @vpn_supabase_bare_api {
        forward_auth http://api:3000 {
            uri /auth/intra
            header_up X-Real-IP {remote_host}
            header_up X-Required-Permission supabase
        }
        rewrite * /supabase{uri}
        reverse_proxy studio:3000
    }

    @vpn_supabase_assets {
        import ip_vpn
        path \
            /supabase/_next/* \
            /supabase/favicon* \
            /supabase/img/* \
            /supabase/icons/* \
            /supabase/monaco-editor/* \
            /supabase/api/* \
            /_next/* /img/* /icons/* /favicon.ico /favicon/*  /monaco-editor/*
    }
    handle @vpn_supabase_assets {
        forward_auth http://api:3000 {
            uri /auth/intra
            header_up X-Real-IP {remote_host}
            header_up X-Required-Permission supabase
        }
        reverse_proxy studio:3000
    }

    @vpn_intra_supabase {
        import ip_vpn
        path /supabase* /project/*
    }
    handle @vpn_intra_supabase {
        forward_auth http://api:3000 {
            uri /auth/intra
            header_up X-Real-IP {remote_host}
            header_up X-Required-Permission supabase
        }
        reverse_proxy studio:3000
    }

    handle {
        respond 404
    }
}

{$DASHBOARD_DOMAIN:http://dashboard.invalid} {
    log {
        output stderr
        format json
        level ERROR
    }
    import security_headers DENY
    import compression

    handle {
        root * /srv/dashboard
        try_files {path} /index.html
        file_server
    }
}
